body {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  display: flex;
}

.number {
  border: 5px solid black;
  border-radius: 50%;
  margin-left: 1rem;
  padding: 2rem;
  width: 50px;
  text-align: center;
}
h1 {
  padding: 60px 60px 60px 30px;
}
.playButton {
  margin: 0px 30px 30px 60px;
}
